.App {
  text-align: center;
}

.usertry{
  color: dimgrey;
  letter-spacing: 5px;
  font-size: 40px;
}

.letterinput{
  padding-bottom: 13px;
  font-size: 50px;
  width: 8%;
  margin-bottom: 15px;
}

.losecount{
  margin-top: 25px;
}

#currentLetter:focus{
  outline: none;
  text-align:center
}
