.App {

}

#bloc1 {
  float: left;
  margin-left: 30%;
  text-align: center;
  width: 20%;
}

#bloc2 {
  float: left;
  width: 20%;
}

.usertry{
  color: dimgrey;
  letter-spacing: 5px;
  font-size: 40px;
}

.letterinput{
  padding-bottom: 13px;
  font-size: 50px;
  width: 18%;
  margin-bottom: 15px;
}

.losecount{
  margin-top: 25px;
}

#currentLetter:focus{
  outline: none;
  text-align:center
}

.hangMan{
  width: 140%;
}