.App {

}

#redContainer{
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(46, 18, 22, 0.96), transparent);
}

#bloc1 {
  height: 600px;
  float: left;
  margin-left: 30%;
  text-align: center;
  width: 20%;
}

#bloc2 {
  height: 600px;
  float: left;
  width: 20%;
}

.usertry{
  color: white;
  letter-spacing: 5px;
  font-size: 40px;
}

.letterinput{
  padding-bottom: 13px;
  font-size: 50px;
  width: 18%;
  margin-bottom: 15px;
}

.losecount{
  margin-top: 25px;
}

#currentLetter:focus{
  outline: none;
  text-align:center
}

.hangMan{
  width: 140%;
}

.hangManTitle{
  margin-top: 30px;
  width: 100%;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
  url('./fonts/Horror Sketch.ttf') format('truetype'); /* Safari, Android, iOS */

}


.myButton {
  font-family: 'Open Sans';
  /*font-family: 'Arial Black';*/
}

/*.myButton {*/
  /*-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;*/
  /*-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;*/
  /*box-shadow:inset 0px 1px 0px 0px #cf866c;*/
  /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));*/
  /*background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);*/
  /*background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);*/
  /*background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);*/
  /*background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);*/
  /*background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);*/
  /*background-color:#d0451b;*/
  /*-moz-border-radius:3px;*/
  /*-webkit-border-radius:3px;*/
  /*border-radius:40%;*/
  /*border:1px solid #942911;*/
  /*display:inline-block;*/
  /*cursor:pointer;*/
  /*color:#ffffff;*/
  /*font-family:Arial;*/
  /*font-size:13px;*/
  /*padding:6px 24px;*/
  /*text-decoration:none;*/
  /*text-shadow:0px 1px 0px #854629;*/
/*}*/
/*.myButton:hover {*/
  /*background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));*/
  /*background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);*/
  /*background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);*/
  /*background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);*/
  /*background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);*/
  /*background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);*/
  /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);*/
  /*background-color:#bc3315;*/
/*}*/
/*.myButton:active {*/
  /*position:relative;*/
  /*top:1px;*/
/*}*/







